/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>


&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };


/ { 
    combos {
        compatible = "zmk,combos";
        combo_esc { 
            timeout-ms = <30>;
            key-positions = <9 10 19>;
            bindings = <&kp ESC>;
        };
        combo_bks {
            timeout-ms = <30>;
	    key-positions = <20 5 6>;
            bindings = <&kp BKSP>;
        };
        combo_ent {
            timeout-ms = <30>;
	    key-positions = <20 13 14>;
            bindings = <&kp RET>;
        };
        combo_sys  {
            timeout-ms = <30>;
            key-positions = <4 5 6>;
            bindings = <&to 4>;
        };
        combo_sym {
            timeout-ms = <30>;
	    key-positions = <9 10 11>;
            bindings = <&to 2>;
        };
        combo_num {
            timeout-ms = <30>;
	    key-positions = <1 2 3>;
            bindings = <&to 3>;
        };
        combo_oneshot {
            timeout-ms = <30>;
	    key-positions = <12 13 14>;
            bindings = <&sl 6>;
        };
        combo_bt  {
            timeout-ms = <10>;
            key-positions = <13 14>;
            bindings = <&to 5>;
	    layers = <2>; 
        };
        lalt {
            timeout-ms = <20>;
	    key-positions = <10 11>;
            bindings = <&kp LALT>; 
	    layers = <4>; 
        };
	del {
            timeout-ms = <20>;
	    key-positions = <18 19>;
            bindings = <&kp DEL>;
	    layers = <4>; 
        };
        lclk {
            timeout-ms = <20>;
	    key-positions = <12	13>;
            bindings = <&mkp LCLK>;
	    layers = <4>;
        };
        rclk {
            timeout-ms = <20>;
	    key-positions = <4 5>;
            bindings = <&mkp RCLK>;
	    layers = <4>;
        };


    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        sr: shift_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&to>;
	    retro-tap;
        };
        hl: homerow_layers {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&sl>, <&kp>;
        };
	td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

       keymap {
                compatible = "zmk,keymap";
                
       		alpha1 {
		bindings = <
		&trans 		&hm LCTL L 	&hm LALT G 	&hm LGUI D		&hm RGUI H 	&hm RALT U    		&hm RCTL O	&trans  
		&hl 3 I		&hl 6 S		&hl 2 R		&hl 4 T 	 	&hl 4 N    	&hl 2 E   		&hl 6 A 	&hl 3 C
		&trans	 	&trans 		&trans 		&mt LC(LS(LALT)) SPC 	&sl 1		&trans 			&trans		&trans
								&trans	 		&trans
		>;
		};
       		alpha2 {
		bindings = <
		&trans 	 	&kp V 		&kp W		&kp M	 	 	&kp F    	&kp COMMA	&kp Z	  	&trans 
		&kp Q	 	&kp J 		&kp P		&kp K 			&kp B 		&td QMARK EXCL	&kp X		&kp Y 
		&trans	 	&trans 		&trans 		&sk LSHIFT 		&kp DOT		&trans		&trans		&trans
								&trans	 		&trans
		>;
		};
		
       		sym1 {
		bindings = <
		&trans 		&hm LCTL LA(N3)   	&hm LALT LS(N3) 		&hm LGUI DLLR    	&hm RGUI LS(COMMA)	&hm RALT LS(DOT)	&hm RSHIFT CARET	&trans
		&kp GRAVE	&kp TILDE  		&kp MINUS	      		&hl 4 BSLH	 	&kp LBKT		&kp RBKT	 	&kp PIPE	 	&kp SLASH
		&trans		&trans  		&trans				&sr LSHIFT 0 		&to 2			&trans 			&trans  		&trans
							 				&trans		 	&trans
		>;
		};

		num {
		bindings = <
		&trans		&hm LCTL DOT 	&hm LALT N0	&hm LGUI N1	 		&hm RGUI N2 	&hm RALT N3	&hm RCTL N4	&trans
		&kp MINUS	&hl 6 PLUS 	&hl 2 N5	&hl 4 N6			&hl 4 N7	&hl 2 N8	&hl 6 N9   	&kp EQUAL
		&trans  	&trans 		&trans		&sr LSHIFT 0 			&to 3		&trans 		&trans  	&trans 
								&trans	 		 	&trans
		>;
		};

		sys {
		bindings = <
		&trans		 	&kp ESC		&kp LC(LS(TAB)) 	&kp  RC(TAB)		&td LG(V) LG(C) 	&kp UP 		&kp BKSP 			&trans	
		&td LG(GRAVE) TAB	&td HOME HOME	&td END LG(LBKT) 	&kp LG(RBKT)		&td TAB LEFT  		&hm RALT DOWN 	&td  LC(LG(LS(N4))) RIGHT 	&kp RET 
		&trans 			&trans  	&trans			&sr LSHIFT 0 		&kp RGUI		&trans 		&trans				&trans 	   
								 		&trans	 		&trans
		>;
		};

		bt {
		bindings = <
		&trans		&bt BT_PRV	&bt BT_NXT	&trans 			&trans 	&trans	&trans	&trans
		&bootloader  	&trans 		&trans 		&trans 			&trans 	&trans 	&trans	&bt BT_CLR
		&trans 	 	&trans 		&trans		&to 0			&trans  &trans  &trans 	&trans   
						 		&trans			&trans
		>;
		};

		sym2 {
		bindings = <
		&trans		&kp ATSN	&td LA(RBKT) LA(LBKT)	&td LA(LS(RBKT)) LA(LS(LBKT))		&kp LPRN	&kp RPRN 	&kp SEMI 	&trans
		&kp STAR  	&kp PRCNT	&kp SQT       		&kp DQT   				&kp LBRC  	&kp RBRC	&kp AMPS	&kp COLON 
		&trans 		&trans 		&trans  		&to 0					&to 6		&trans 		&trans 		&trans   
						 			&trans					&trans

		>;
		};
        
	};
};
