# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_CARD_DONGLE

config ZMK_KEYBOARD_NAME
	default "The Card Dongle"

endif

if SHIELD_CARD_LEFT || SHIELD_CARD_RIGHT

config ZMK_SPLIT
	default y

endif



if SHIELD_CARD_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
