# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CARD_LEFT
	def_bool $(shields_list_contains,card_left)

config SHIELD_CARD_RIGHT
	def_bool $(shields_list_contains,card_right)

config SHIELD_CARD_DONGLE
	def_bool $(shields_list_contains,card_dongle)
